.ai {
	&-card {
		display: flex;
		align-items: center;

		@media (max-width: 1441px) {
			flex-direction: column;
		}

		&:not(:last-child) {
			border-bottom: var(--border);
		}

		h6 {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);
			padding-bottom: 4px;
		}

		h5 {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--absolute-white);
		}



		&__left {
			padding-right: 80px;
			width: 100%;
			max-width: 560px;

			@media (max-width: 1441px) {
				padding-right: 0;
				padding-top: 60px;
			}

			&-adaptiv {
				@media (max-width: 1550px) {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			}

			&-img {
				width: 80px;
				height: 80px;

			}

			b {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				letter-spacing: -0.03em;
				color: var(--grey-60);
				max-width: 519px;
			}

			&-stars {
				padding-top: 50px;
				padding-bottom: 30px;
				display: flex;
				// gap: 16px;
				justify-content: space-between;
				align-items: center;

				@media (max-width: 1550px) {
					flex-direction: column;
					gap: 5px;
					padding: 20px 0;
				}

				h4 {
					font-family: var(--second-family);
					font-weight: 600;
					font-size: 40px;
					line-height: 150%;
					letter-spacing: -0.03em;
					color: var(--absolute-white);

				}

				&-block {

					display: flex;
					gap: 7px;

					border: 1px solid var(--dark-15);
					border-radius: 100px;
					padding: 10px 16px;
					// width: 180px;
					// height: 44px;
					background: var(--dark-08);

					img {
						width: 20px;
						height: 20px;
					}
				}
			}
		}

		&__mini {
			border: 1px solid var(--dark-15);
			border-radius: 13px;
			padding: 30px;
			max-width: 519px;
			// height: 123px;
			background: var(--dark-10);

			display: flex;
			justify-content: space-between;

			@media (max-width: 1550px) {
				flex-direction: column;
				gap: 15px;
			}

			@media (max-width: 1441px) {
				max-width: 560px;
			}

			&-btn {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				letter-spacing: -0.03em;
				color: var(--grey-60);

				border: 1px solid var(--dark-15);
				border-radius: 12px;
				padding: 18px 58px 18px 24px;
				// width: 201px;
				// height: 63px;
				background: var(--dark-08);
				position: relative;

				@media (max-width: 1550px) {
				padding: 18px 24px 18px 24px;
					
				}

				&::after {
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					top: 24px;
					left: 156px;
					object-fit: cover;
					background: url('../../img/header/headerPromo.png');
					background-repeat: no-repeat;

					@media (max-width: 1550px) {
						display: none;
					}
				}

				&-download {
					font-family: var(--font-family);
					font-weight: 400;
					font-size: 18px;
					line-height: 150%;
					letter-spacing: -0.03em;
					color: var(--grey-60);

					border: 1px solid var(--dark-15);
					border-radius: 12px;
					padding: 18px 58px 18px 24px;
					// width: 201px;
					// height: 63px;
					background: var(--dark-08);
					position: relative;

					&::after {
						content: '';
						position: absolute;
						width: 20px;
						height: 20px;
						top: 24px;
						left: 198px;
						object-fit: cover;
						background: url('../../img/header/headerPromo.png');
						background-repeat: no-repeat;
					}
				}
			}
		}

		&__right {
			padding: 80px 0;
			padding-left: 80px;
			border-left: var(--border);

			@media (max-width: 1441px) {
				padding: 0;
				padding-bottom: 60px;
				padding-top: 60px;
				border-left: none;

			}

			h3 {
				font-family: var(--font-family);
				font-weight: 600;
				font-size: 26px;
				line-height: 150%;
				letter-spacing: -0.03em;
				color: var(--absolute-white);
				padding-top: 30px;
				padding-bottom: 14px;

				@media (max-width: 853px) {
				font-size: 24px;
				padding-top: 20px;
				}
			}

			p {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				letter-spacing: -0.03em;
				color: var(--grey-60);
				max-width: 917px;
				padding-bottom: 50px;

				@media (max-width: 853px) {
				padding-bottom: 25px;
				font-size: 16px;
				}

			}

			&-cards {
				display: flex;
				gap: 20px;

				@media (max-width: 853px) {
					flex-direction: column;
					gap: 15px;
				}
			}

			&-img {
				position: relative;

				img {
					max-width: 100%;
					max-height: 100%;
					display: block;
				}

				&-btn {
					position: absolute;
					top: 177px;
					left: 430px;

					@media (max-width: 950px) {
						display: none;
					}
				}
			}
		}

		&__miniRight {
			border: 1px solid var(--dark-15);
			border-radius: 13px;
			padding: 30px;
			width: 100%;
			max-width: 292px;
			// height: 121px;
			background: var(--dark-10);

			@media (max-width: 853px) {
				max-width: none;
			}
		}
	}
}

.reports-right {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-desc {
		display: flex;
		flex-direction: column;

		&-p {
			max-width: 644px !important;
		}
	}
}