.episodes {
	&-cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		// display: flex;

		@media (max-width: 1700px) {

			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 1100px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

		}
	}

	&-card {
		padding-right: 50px;
		padding-left: 50px;
		padding-top: 80px;
		padding-bottom: 80px;
		border-left: var(--border);
		border-right: var(--border);
		border-bottom: var(--border);

		@media (max-width: 1700px) {
			// border-left: none;
			// border-right: none;
			padding: 60px 60px;
			width: 100%;
		}

		@media (max-width: 1100px) {
			border-left: none;
			border-right: none;
			padding: 60px 0;

		}

		&-img {
			img {
				max-width: 100%;
				max-height: 100%;
				display: block;
			}

			@media (max-width: 500px) {}
		}



		&:nth-child(1) {
			padding-left: 0;
			border-left: none;
			border-right: none;

			@media (max-width: 1700px) {}
		}

		&:nth-child(2) {
			border-right: none;

			@media (max-width: 1700px) {
				padding-right: 0;
			}
		}

		&:nth-child(3) {
			padding-right: 0;
			border-right: none;

			@media (max-width: 1700px) {
				border-left: none;
				border-right: var(--border);
				padding-left: 0;
				padding-right: 60px;
			}

			@media (max-width: 1100px) {
				border-right: none;
				padding-right: 0;
			}
		}

		&:nth-child(4) {
			padding-left: 0;
			border-left: none;
			border-right: none;
			border-bottom: none;

			@media (max-width: 1700px) {
				border-bottom: var(--border);
				padding-left: 60px;
				padding-right: 0;
			}

			@media (max-width: 1100px) {

				padding-left: 0;
			}
		}

		&:nth-child(5) {
			border-right: none;
			border-bottom: none;

			@media (max-width: 1700px) {
				border-left: none;
				padding-left: 0;

			}

			@media (max-width: 1100px) {
				border-bottom: var(--border);

			}

		}

		&:nth-child(6) {
			border-right: none;
			border-bottom: none;

			@media (max-width: 1700px) {
				padding-right: 0;
			}

			@media (max-width: 1100px) {
				border-bottom: var(--border);

			}


		}

		h5 {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 22px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--absolute-white);
			padding-top: 30px;
			padding-bottom: 14px;
		}

		p {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);
			max-width: 470px;
			padding-bottom: 30px;

			@media (max-width: 1700px) {
				max-width: none;
			}
		}

		button {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);

			border: 1px solid var(--dark-15);
			border-radius: 12px;
			padding: 18px 58px 18px 24px;
			background: var(--dark-08);
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				top: 24px;
				left: 156px;
				object-fit: cover;
				background: url('../../img/header/headerPromo.png');
				background-repeat: no-repeat;
			}
		}
	}
}