// @use '../helpers' as *;

.header {
	position: sticky;
	z-index: 100;
	top: 0;
	animation-name: scrolling-header;
	animation-fill-mode: both;
	animation-timeline: scroll();

	@keyframes scrolling-header {
		to {
			box-shadow: 0 0 1rem 0 var(--color-dark-40);
		}
	}

	&-burger {
		display: none;
		width: 35px;
		height: 17px;
		// background-color: black;
		position: relative;
		cursor: pointer;

		span {
			content: '';
			position: absolute;
			width: 35px;
			height: 3px;
			background: var(--absolute-white);
			top: 0;
			right: 0;
			object-fit: cover;

			&:nth-child(2) {
				top: 10px;
			}

			&:nth-child(3) {
				top: 20px;
				width: 19px;
				right: 0;
			}
		}

		@media (max-width: 1050px) {
			display: block;
		}
	}

	&__promo {
		background-color: var(--dark-08);
		border-bottom: 1px solid var(--dark-15);

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 20px 0;

		button {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);

			&:hover {
				color: var(--yellow-55);
				transition: 0.3s;
			}

			@media (max-width: 1050px) {
				font-size: 16px;
			}

			@media (max-width: 600px) {
				font-size: 14px;
			}

			@media (max-width: 500px) {
				font-size: 12px;
			}
		}

		span {
			cursor: pointer;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;
		position: relative;

		&-open {
			padding: 150px 0;
			padding-bottom: 205px;
			z-index: 534;
			// height: 1000px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 50px;

			.header-btns {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}



			.header-btn-yellow {
				display: block;
			}

			.header__promo {
				display: none;
			}

			.header-burger {
				position: absolute;
				width: 35px;
				height: 35px;
				// top: 235px;
				// right: 60px;


				top: 112px;
				right: 13px;
				object-fit: cover;

				span {
					&:nth-child(1) {
						transform: rotate(140deg);
						width: 36px;


					}

					&:nth-child(2) {
						top: 0px;
						transform: rotate(40deg);
						width: 36px;
					}

					&:nth-child(3) {
						display: none;
					}
				}
			}
		}
	}



	// &-overlay {
	// 	display: flex;
	// 	gap: 280px;
	// }

	&-btns {
		display: flex;
		gap: 40px;

		@media (max-width: 1050px) {
			display: none;
		}
	}

	&-btn {
		font-family: var(--font-family);
		font-weight: 500;
		padding: 14px 24px;

		font-size: 18px;
		line-height: 150%;
		color: var(--grey-50);


		&-active {
			font-family: var(--font-family);
			font-size: 18px;
			line-height: 150%;
			color: var(--absolute-white);

			border: 1px solid var(--dark-20);
			border-radius: 10px;
			padding: 14px 24px;
			background: var(--dark-08);
			cursor: auto;

			&:hover {
				color: none;
				transition: none;
			}
		}

		&:hover {
			color: var(--yellow-55);
			transition: 0.3s;
		}

		&-yellow {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			color: var(--dark-08);

			border-radius: 10px;
			border: 1px solid var(--yellow-55);
			padding: 14px 20px;
			background: var(--yellow-55);

			&:hover {
				border: 1px solid var(--yellow-55);
				color: var(--yellow-55);
				background: var(--dark-10);
				transition: 0.3s;
			}

			@media (max-width: 1050px) {
				display: none;
			}
		}
	}

	&-container {
		background: var(--dark-10);
	}

	&-back {
		background: var(--dark-10);
	}
}