.journey {

	&-content {
		&__top {
			display: flex;

			@media (max-width: 1024px) {
				display: block;
			}

		}

		&__explore {
			border-right: 1px solid var(--dark-15);
			padding: 150px 0 0 0;

			@media (max-width: 1440px) {
				padding-top: 100px;
			}

			@media (max-width: 1024px) {
				padding-top: 40px;
				border-right: none;
			}

			h5 {
				font-family: var(--second-family);
				font-weight: 500;
				font-size: 30px;
				line-height: 120%;
				letter-spacing: -0.03em;
				color: var(--dark-40);
				padding-bottom: 30px;

				@media (max-width: 600px) {
					font-size: 18px;
				}
			}

			h2 {
				font-family: var(--second-family);
				font-weight: 500;
				font-size: 70px;
				line-height: 120%;
				letter-spacing: -0.03em;
				color: var(--absolute-white);
				max-width: 893px;
				padding-bottom: 20px;
				padding-right: 40px;

				@media (max-width: 1440px) {
					font-size: 55px;
				}

				@media (max-width: 1024px) {

					padding-right: 0;
				}

				@media (max-width: 600px) {
					font-size: 30px;
				}
			}

			p {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				letter-spacing: -0.03em;
				color: var(--grey-50);
				max-width: 860px;
				padding-bottom: 100px;
				padding-right: 40px;

				@media (max-width: 1440px) {
					font-size: 16px;
				}

				@media (max-width: 1024px) {
					padding-bottom: 30px;
					padding-right: 0;
					max-width: none;
				}

				@media (max-width: 600px) {
					font-size: 14px;
				}
			}

			ul {
				display: flex;
				// border-top: ;

				// gap: 100px;

				@media (max-width: 1024px) {
					border-bottom: var(--border);
				}

				li {
					padding: 50px;
					width: 100%;
					// max-width: 250px;
					position: relative;
					border-right: var(--border);

					@media (max-width: 1440px) {
						padding: 30px;
					}

					&:last-child {
						border: none;
						padding-right: 0;
					}

					&:first-child {
						padding-left: 0;
					}


					// &::after {
					// 	content: '';
					// 	position: absolute;
					// 	width: 100%;
					// 	max-width: 188px;
					// 	height: 1px;
					// 	// z-index: 423;
					// 	top: 93px;
					// 	left: 185px;
					// 	background-color: var(--dark-15);
					// 	transform: rotate(-90deg);
					// }


					// &:last-child::after {
					// 	display: none;
					// }

					h6 {
						font-family: var(--font-family);
						font-weight: 600;
						font-size: 40px;
						line-height: 150%;
						letter-spacing: -0.03em;
						color: var(--absolute-white);
						width: 100%;

						@media (max-width: 1440px) {
							font-size: 30px;
						}
					}

					span {
						font-family: var(--font-family);
						font-weight: 600;
						font-size: 40px;
						line-height: 150%;
						letter-spacing: -0.03em;
						color: var(--yellow-55);

						@media (max-width: 1440px) {
							font-size: 30px;
						}
					}

					b {
						padding-top: 10px;
						font-family: var(--font-family);
						font-weight: 400;
						font-size: 18px;
						line-height: 150%;
						letter-spacing: -0.03em;
						color: var(--grey-60);

						@media (max-width: 1440px) {
							font-size: 14px;
						}
					}
				}
			}

		}

		&__resources {
			display: flex;
			justify-content: end;
			align-items: end;

			@media (max-width: 1024px) {
				display: block;
			}

			&-content {
				padding: 80px;
				padding-top: 0;

				@media (max-width: 1440px) {
					padding: 50px;
					padding-right: 0;
				}

				@media (max-width: 1024px) {
					padding: 0;
					padding-top: 80px;
					padding-bottom: 80px;
				}

				&-humans {
					background: var(--dark-10);
					border: 1px solid var(--dark-15);
					border-radius: 100px;
					padding: 10px;
					max-width: 218px;


					&-content {
						display: flex;
						padding-left: 14px;
						align-items: center;
						justify-content: center;

						img {
							margin-left: -14px;
							width: 60px;
							height: 60px;
							border: 2px solid var(--dark-40);
							border-radius: 42px;
						}
					}
				}

				h5 {
					padding-top: 30px;
					font-family: var(--font-family);
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;
					letter-spacing: -0.03em;
					color: var(--absolute-white);
					padding-bottom: 14px;

					@media (max-width: 1440px) {
						font-size: 20px;
					}






				}

				p {
					font-family: var(--font-family);
					font-weight: 400;
					font-size: 18px;
					line-height: 150%;
					letter-spacing: -0.03em;
					color: var(--grey-60);
					padding-bottom: 30px;

					@media (max-width: 1440px) {
						font-size: 16px;
					}
				}

				&-btn {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						width: 20px;
						height: 20px;
						top: 23px;
						left: 187px;
						object-fit: cover;
						background: url('../../img/header/headerPromo.png');
						background-repeat: no-repeat;
					}
				}
			}
		}

		&__bot {
			// // padding: 50px 0;
			// display: flex;
			// // justify-content: space-between;
			// align-items: center;
			// // gap: 160px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			@media (max-width: 1024px) {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.journeyCard {
	padding: 50px 80px;
	// position: relative;

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	max-width: 301px;
	// 	height: 1px;
	// 	top: 95px;
	// 	left: 360px;
	// 	background-color: var(--dark-15);
	// 	transform: rotate(-90deg);
	// }

	// &:last-child::after {
	// 	display: none;
	// }

	@media (max-width: 1440px) {
		padding: 40px 50px;
	}

	border-right: var(--border);

	@media (max-width: 1024px) {
		border-right: none;
		border-bottom: var(--border);
		padding: 40px 0;
	}

	&:nth-child(1) {
		// padding: 50px 80px 50px 0px;
		padding-left: 0;
	}

	&:nth-child(2) {
		// padding: 55px 80px 55px 80px;
	}

	&:nth-child(3) {
		// padding: 50px 0px 50px 80px;
		border-right: none;
		padding-right: 0;

	}

	&-top {
		padding-bottom: 30px;

		@media (max-width: 1440px) {
			padding-bottom: 20px;
		}

	}

	&-center {
		display: flex;
		// gap: 20px;
		justify-content: space-between;
		padding-bottom: 30px;

		// width: 425px;
		@media (max-width: 1440px) {
			padding-bottom: 20px;
		}


		h5 {
			padding-bottom: 4px;
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--absolute-white);

			@media (max-width: 1440px) {
				font-size: 18px;
			}


		}

		b {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-50);

			@media (max-width: 1440px) {
				font-size: 16px;
			}
		}

		button {
			border-radius: 100px;
			padding: 14px;
			width: 52px;
			height: 52px;
			background: var(--yellow-55);
			position: relative;

			&::after {
				content: '';
				background: url('../../img/journey/line.svg');
				background-repeat: no-repeat;
				position: absolute;
				width: 20px;
				height: 20px;
				top: 39%;
				left: 34%;
				object-fit: cover;
			}
		}
	}

	&-bot {
		p {
			font-family: var(--second-family);
			font-weight: 400;
			font-size: 20px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);

			@media (max-width: 1440px) {
				font-size: 16px;
			}
		}
	}


}