.reports {
	&--header {
		display: flex;
		justify-content: space-between;
		align-items: center;


		@media (max-width: 1241px) {
			align-items: end;
		}

		@media (max-width: 1005px) {
			flex-direction: column;
			align-items: start;
			gap: 30px;
		}



		&-btns {
			display: flex;
			gap: 10px;
			border: 1px solid var(--dark-15);
			border-radius: 10px;
			padding: 10px;
			// width: 495px;
			// height: 83px;

			background: var(--dark-08);

			@media (max-width: 550px) {

				flex-wrap: wrap;
				justify-content: center;
			}
		}



		&-btn {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);

			border: 1px solid var(--dark-15);
			border-radius: 8px;
			padding: 18px 38px;



			&-active {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				letter-spacing: -0.03em;


				border: 1px solid var(--dark-15);
				border-radius: 8px;
				padding: 18px 38px;

				color: var(--absolute-white);
				background: var(--dark-15);
			}
		}
	}
}

.reports-right {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 946px) {
		flex-direction: column;
		gap: 20px;
		padding-bottom: 30px;

		h3 {
			text-align: center;
		}

		.reports-right-desc-p {
			padding-bottom: 0;
			text-align: center;
		}
	}

}