.resources {
	&-cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 688px) {

			grid-template-columns: 1fr;
		}
	}

	&-card {
		padding: 80px;
		border-right: var(--border);
		border-left: var(--border);

		@media (max-width: 688px) {
			padding: 60px 0;
			width: 100%;
			border-right: none;
			border-left: none;
		}

		&:nth-child(1) {
			padding-left: 0;
			border-left: none;
			border-right: none;

			@media (max-width: 1200px) {
				border-bottom: var(--border);
			}
		}

		&:nth-child(2) {
			@media (max-width: 1200px) {
				border-right: none;
				padding-right: 0;
				border-bottom: var(--border);

			}
		}

		&:nth-child(3) {
			border-left: none;
			border-right: none;

			@media (max-width: 1200px) {
				padding-left: 0;
				border-bottom: var(--border);
			}
		}

		&:nth-child(4) {
			padding-right: 0;
			border-right: none;

		}

		h4 {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 60px;
			line-height: 150%;
			letter-spacing: -0.03em;
			text-align: center;
			color: var(--absolute-white);
			padding-bottom: 10px;
		}

		span {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 60px;
			line-height: 150%;
			letter-spacing: -0.03em;
			text-align: center;
			color: var(--absolute-white);
			color: var(--yellow-55);
		}

		p {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			text-align: center;
			color: var(--grey-60);
		}
	}
}