.resources {
	&-cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&-card {
		padding: 80px;
		border-right: var(--border);
		border-left: var(--border);

		&:nth-child(1) {
			padding-left: 0;
			border-left: none;
			border-right: none;
		}
		&:nth-child(2) {

		}
		&:nth-child(3) {
			border-left: none;
			border-right: none;
		}
		&:nth-child(4) {
			padding-right: 0;
			border-right: none;

		}

		h4 {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 60px;
			line-height: 150%;
			letter-spacing: -0.03em;
			text-align: center;
			color: var(--absolute-white);
			padding-bottom: 10px;
		}

		span {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 60px;
			line-height: 150%;
			letter-spacing: -0.03em;
			text-align: center;
			color: var(--absolute-white);
			color: var(--yellow-55);
		}

		p {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			text-align: center;
			color: var(--grey-60);
		}
	}
}