.visual {
	&-items {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media (max-width: 1040px) {
			grid-template-columns: 1fr;
		}


	}

	&-item {
		padding: 60px 50px;
		border-left: var(--border);
		border-right: var(--border);
		border-bottom: var(--border);

		@media (max-width: 1040px) {
			padding: 40px 0;
			border-left: none;
			border-right: none;
			border-bottom: var(--border);
		}


		&:nth-child(1) {
			border-left: none;
			border-right: none;
			padding-left: 0;
		}

		&:nth-child(2) {
			border-left: var(--border);
			border-right: none;
			padding-right: 0;

			@media (max-width: 1040px) {
				border-left: none;
			}
		}

		&:nth-child(3) {
			border-left: none;
			border-right: none;
			padding-left: 0;
		}

		&:nth-child(4) {
			border-left: var(--border);
			border-right: none;
			padding-right: 0;

			@media (max-width: 1040px) {
				border-left: none;
			}
		}

		h5 {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 24px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--absolute-white);
			padding-top: 30px;
			padding-bottom: 10px;
		}

		p {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.03em;
			color: var(--grey-60);
			max-width: 718px;
		}
	}
}